<IfModule mod_rewrite.c>
        RewriteEngine On
        RewriteBase /mapaexterno/
        RewriteCond %{REQUEST_FILENAME} !-f
        RewriteCond %{REQUEST_FILENAME} !-d
        RewriteRule ^(.*)$ /mapaexterno/index.php?/$1 [L]
</IfModule>